{
  "env": {
    "browser": true,
    "es2021": true
  },
  "extends": ["plugin:react/recommended", "airbnb", "prettier", "plugin:jsx-a11y/recommended"],
  "overrides": [],
  "parserOptions": {
    "ecmaVersion": "latest",
    "sourceType": "module"
  },
  "plugins": ["react", "jsx-a11y"],
  "rules": {
    "camelcase": "warn",
    "react/no-unescaped-entities": "off",
    "import/no-anonymous-default-export": "off"
  }
}
